@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mouse Tracker</title>
</head>
<body>
    <h1>Отслеживание мыши</h1>
    <button onclick="sendData()">Отправить данные</button>

    <!-- Подключение внешнего JavaScript-файла -->
    <script src="~/js/mouseTracker.js"></script>
</body>
</html>
